/* Login Page */
@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  /* background-image: url(../pictures/green-forest-trees.jpg); */
  background-size: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
  z-index:30;
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.error {
    color: red;
    font-size: 16px;
    line-height: 1.5;
    margin: 40px;
  }
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}

/* ***Manager Controls********** */
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body {
  margin: 0;
  background-color: whitesmoke;}

button {
    position: relative;
    width: 10vw;
    height: 3vh;
    left: 8vw;
    margin-top: 2vh;
    transform: translate(-50%, -80%);
    font-family: 'Varela Round', sans-serif;
    font-size: 1vw;
    letter-spacing: 0.1em;
    color: #e8e8e8;
    border: none;
    border-radius: 10px;
    outline: none;
    background: linear-gradient(45deg, #d350db, teal, #d350db);
    background-size: 400% 400%;
    box-shadow: 1vw 1vw 0 lightcoral;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    animation: gradient 10s ease infinite;
    font-size: 1vw;
    box-shadow: 0.2vw 0.2vw 0 lightcoral;
}

@keyframes gradient {
    50% {
    background-position: 100% 0;
  }
}

/* ***** Background Format ***** */

#contaianer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    }
  #wrapper {
    overflow: hidden;
    position: absolute;
    width: 1700px;
    height: 1000px;
    z-index: 10;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #wrapper div {
    position: absolute;
    background-position: center center;
    background-size: cover;
    z-index: -10;
    
  }
  .p1 {
    width: 1976px;
    height: 1383px;
    z-index: 6;
    background-image: url('./pictures/S6WCriT.jpg');
    left: -89px;
    top: -191px;
  }
  .p2 {
    width: 977px;
    height: 904px;
    z-index: 8;
    background-image: url('./pictures/aeffA4C.png');
    left: -83px;
    top: 280px;
  }
  .p3 {
    width: 1082px;
    height: 729px;
    z-index: 10;
    background-image: url('./pictures/QAyjA6B.png');
    left: 718px;
    top: 300px;
}
/* ********* Manager Format ************** */

#managerInfo {
    position: absolute;
    color: black;
    top: 3vh;
    left: 7vw;
    height: 35vh;
    width: 40vw;
    background-color: rgba(245, 245, 245, 0.5);
    z-index: 20;
    overflow: scroll;
}  

#plantStatus {
    position: absolute;
    color: black;
    top: 3vh;
    right: 7vw;
    height: 35vh;
    width: 40vw;
    background-color: rgba(245, 245, 245, 0.5);
    z-index: 20;
    overflow: scroll;
}

.statusBoxmessage {
    margin-left: 3vw;
}

#employeeList {
    position: absolute;
    color: black;
    bottom: 3vh;
    right: 7vw;
    height: 45vh;
    width: 70vw;
    background-color: rgba(245, 245, 245, 0.5);
    z-index: 20;
    overflow: scroll;
    
}

table {
    margin-left: 1.5vw;
    margin-top: 1.5vh;
}

/* *********Employee Format********** */

#employeeInfo {
    position: absolute;
    color: black;
    top: 3vh;
    left: 11rem;
    background-color: rgba(245, 245, 245, 0.5);
    z-index: 20;
}

#eeImg {
    z-index:20;
    margin-top: 1.5vh;
    margin-left: 2.0vw;
}

.eeInfo {
    margin-top: 3vh;
    left: 1vh;
}

#eeName, #eeNumber {
    color: #000;
    margin-top: 3vh;
    margin-left: 4vw;
}

#psicoData {
    position: absolute;
    color: black;
    bottom: 3vh;
    right: 11rem;
    background-color: rgba(245, 245, 245, 0.5);
    z-index: 20;
    height: 45vh;
}

#tableContent {
    overflow: scroll;
}

#logOut{
    float: right;
    text-decoration: underline;
    color: blue;
    font-size: 2rem;
    font-family: serif;
    cursor: pointer;
    right: 1vw;
    top: 1vh;
}

/* Media queries  */
@media only screen and (max-width: 850px) {
  .login {
    font-size:2rem;    
  }

  .eula {
    font-size:1rem; 
  }

  .statusBoxmessage {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.7rem;
  }

  h3 {
    font-size:1.8rem;
  }

  h5 {
    font-size:1.8rem;
  }

  #logOut{
    font-size: 1.5rem;
    right: .1vw;
    top: .1vh;
  }

  th {
    font-size: 1.3rem;
  }

  td {
    font-size: 1.0rem;
  }

  #employeeList {
    right: 3vw;
  }
}

@media only screen and (max-width: 600px) {
  .login {
    font-size: 2rem;    
  }

  .eula {
    font-size:1rem; 
  }

  .right {
    right: 1vw;
    bottom: 1vh;
    width: 60vw;
    height: 30vh;
  }

  .statusBoxmessage {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.3rem;
  }

  h3 {
    font-size:1.7rem;
  }

  h5 {
    font-size:1.5rem;
  }

  #logOut{
    font-size: 1.2rem;
    right: .1vw;
    top: .1vh;
  }

  th {
    font-size: 1.5rem;
  }

  td {
    font-size: 1.2rem;
  }

  #leftSpacer {
    display: none;
  }

  #employeeList {
    height: 45vh;
    width: 90vw;
    right: 3vw;
  }
}

@media only screen and (max-width: 500px) {
  .login {
    font-size:2rem;    
  }

  .eula {
    font-size:1rem; 
  }

  .right {
    right: 1vw;
    bottom: 1vh;
    width: 81vw;
    height: 40vh;
  }

  .statusBoxmessage {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h3 {
    font-size:1.2rem;
  }

  h5 {
    font-size:1.2rem;
  }

  #logOut{
    font-size: 1rem;
    right: .1vw;
    top: .1vh;
  }

  th {
    font-size: 1rem;
  }

  td {
    font-size: 0.8rem;
  }

  #leftSpacer {
    display: none;
  }

  #employeeList {
    height: 55vh;
    width: 95vw;
    right: 3vw;
  }
}

@media only screen and (max-width: 375px) {
  .login {
    font-size:2rem;    
  }

  .eula {
    font-size:1rem; 
  }

  .right {
    right: 1vw;
    bottom: 1vh;
    width: 80vw;
    height: 40vh;
  }

  .statusBoxmessage {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size:1rem;
  }

  h5 {
    font-size:1rem;
  }

  #logOut{
    font-size: .8rem;
    right: .1vw;
    top: .1vh;
  }

  th {
    font-size: 1rem;
  }

  td {
    font-size: 0.8rem;
  }

  #leftSpacer {
    display: none;
  }

  #employeeList {
    height: 55vh;
    width: 95vw;
    right: 3vw;
  }
}

@media only screen and (max-width: 320px) {
  .login {
    font-size:2rem;    
  }

  .eula {
    font-size:1rem; 
  }

  .right {
    right: 1vw;
    bottom: 1vh;
    width: 90vw;
    height: 50vh;
  }

  .statusBoxmessage {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size:1rem;
  }

  h5 {
    font-size:1rem;
  }

  #logOut{
    font-size: .8rem;
    right: .1vw;
    top: .1vh;
  }

  th {
    font-size: 0.8rem;
  }

  td {
    font-size: 0.6rem;
  }

  #leftSpacer {
    display: none;
  }

  #employeeList {
    height: 55vh;
    width: 95vw;
    right: 3vw;
  }
}