body {
    background-color: whitesmoke;
}

#pageHead {
    margin-top: 2vh;
}

#custLogo {
    width: 20vh;
    height: auto;
    float: right;
}

#ownLogo {
    margin-top: 1.5vh;
    width: 23vh;
    height: auto;
}
#contentPage {
    margin-top: 3vh;
}

#instruction {
    font-size: .9rem;
}

#pictureID {
    height: 40vh;
}

#eeInfo {
    margin-top: 3vh;
    height: 16vh;
}



